<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Nexter &mdash; Your Home, Your Freedom
        link(rel="stylesheet", href="./assets/css/main.min.css")
        link(rel="shortcut icon", href="./assets/img/favicon.png", type="image/x-icon")
    body.container
        .sidebar sidebar
        header.header header
        .realtors Top 3 realtors
        section.features Feature
        .story__pictures Story pictures
        .story__content Story content
        section.homes homes
        section.gallery gallery 
        footer.footer footer
